@import url(//db.onlinewebfonts.com/c/ea7d2a9b8058fe6b06354f96963e502f?family=Sontoloyo);
@import url(//db.onlinewebfonts.com/c/3e023a00159326e0aac13cad3094bd83?family=Montserrat+Thin);


body {
  margin-right: 10px;
  padding-right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Rosmatika', 'Hendrickson', 'Shogeking Oniki', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

body {
  animation: fadeInAnimation ease 2s
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* img {
  width: 200px;
  max-height: 200px;
} */

.contentTitles {
  color: #078282FF;
  font-family: Sontoloyo, sans-serif;
  font-weight: 100;
  font-size:x-large;
  padding-top: 6px;
  padding-left: 8px;
  display: flex;
  width: 40%;
  height: fit-content;
  align-content: center;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  border-radius: 30px;
  background-color: green;
  color: white;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  transition-duration: 0.4s;
}

:any-link {
  font-size: larger;
    text-decoration: none;
    color: #95DBE5FF;
    border: none;
    border-radius: 30px;
    padding: 0.25em 0.75em;
    transition-duration: 0.4s;
}

:any-link:hover {
  background-color: #4CAF50;
  color: white;
}

b {
  color: #078282FF;
}

select {

  /* styling */
  background-color: white;
  border: thin solid #078282FF;
  border-radius: 3px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  color: #078282FF;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, #339E66FF 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #339E66FF 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #339E66FF;
  outline: 0;
  color: black;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: #4CAF50
}

select:hover {
  background-color: #339E66FF;
  color: white;
}