

.container--login {
    margin-top: 80px;
    height: 200px;
}

.form--login {
    display: flex;
    flex-direction: column;
}

#inputContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #339E66FF;
    border-top: 2px solid #339E66FF;
    border-right: none;
    border-left: none;
}

#signIn {
    font-size: 30px;
    text-decoration: none;
    font-family: Sontoloyo, sans-serif;
    font-weight: 100;
    padding-top: 15px;
    border-top: 2px solid #339E66FF;
    color: #078282FF;
    display: flex;
    justify-content: center ;
}

#loginButtonContainer {
    display: flex;
    justify-content: center;
}

#loginButton {
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background-color: #339E66FF;
    height: 20px;
    color: white;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    transition-duration: 0.4s;
}

#loginButton:hover {
    background-color: #95DBE5FF;
    color: white;
}

#link--register {
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input {
    margin-right: 15px;
    margin-left: 10px;
}

label {
    margin-left: 15px;
    margin-right: 10px;
}

#loginButtonContainer {
    height: fit-content;
    display: flex;
}